*{
    margin: 0;
    padding: 0;
}

body{
    padding: 0 50px;
    background-image:url(../imagenes/fondo2.jpg);
}
header{
    position: sticky;
    top: 0;
}
.mainIndex{
    padding: 0 250px;
}

/* ESTILO DEL NAV */
.costum{
    background-image:linear-gradient(to right,#d7a9a9,#e5c5c5,#f2e2e2);
}
.tamLogo{
    width: 80px;
}

/* INICIO */
#titulo{ 
    color:#d7a9a9;
    background-position: 50%;
    font-family: 'Bangers', cursive;
    font-size: 8rem;
    text-align: center;
    margin-top: 50px;
}

a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
}
.anclaArt:hover{
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

li{
    list-style-type: none;
}

.articulos{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 50px;
}

.fotoColumna{
    flex-direction: column;
    margin-top: 20px;
    margin-left: 2%;
}


.imagenCollares{
    width: 100%;
/* margin-left: 20%; */
    /* height: 600px; */
}

.imagenPulseras{
    width: 65%;
    /* height: 300px; */
}

.imagenAros{
    width: 65%;
    /* height: 300px; */
}

.item1, .item2, .item3{
    text-align: center;
}

.contacto{
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.contactos{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 150px;
}

.camion{
    width: 90px;
    text-align: center;
}

.newsletter{
    color: lightseagreen;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 3rem;
    margin-top: 150px;
}

.email{
    text-align: center;
}

#mail{
    width: 300px;
}

#enviar{
    background-color: white;
    font-family: 'Amatic SC', cursive;
    font-size: medium;
    border: 0;
}

footer{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 1rem;
    text-align: center;
    margin-top: 100px;
    margin-block-end: 50px;
}

/* CONTACTOS */

#contacto{
    color: lightseagreen;
    font-family: 'Amatic SC', cursive;
    text-align: left;
    font-size: 3rem;
    margin-top: 50px;
    padding: 50px 0;
}
.form{
    border: 2;
    border-color: lightsalmon;
    border-style: dashed;
    border-radius: 7px;
    width: 10%;
}

.fieldset{
    display: flex;
    flex-flow: column;
    width: fit-content;
    align-content: space-around;
}

.formulario{
    color: black;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.campo{
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin-top: 7%;
}

.textarea{
    margin-top: 10%;
}

.enviar{
    margin-top: 20%;
    margin-right: 20%;
    background-color: lightsalmon;
    font-family: 'Montserrat', sans-serif;
    color: black;
    width: 30%;
    border-radius: 4px;
}

.borrar{
    margin-top: 20%;
    margin-right: 10%;
    background-color: lightsalmon;
    font-family: 'Montserrat', sans-serif;
    color: black;
    width: 30%;
    border-radius: 4px;
}

.cierreFormulario{
    display: flex;
    flex-flow: row;
}

/* IMAGEN PAGINA CONTACTOS */
.imagenContacto{
    width: 30%;
    margin-left: 800px;
    margin-top: -700px;
}

/* ARTICULOS */

.title{
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 4rem;
    margin-top: 50px;
}
.imgCollares, .imgPulceras, .imgAros{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.container{
    flex-direction: column;
    margin-top: 10%;
    margin-left: 2%;
}

.name{
    color: black;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}

.description{
    color: black;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}
.price{
    margin-top: 15px;
    font-size: 1rem;
}

.buy{
    border-radius: 4px;
    background-color: white;
    font-family: 'Playfair Display', serif;
}

.imgPenelope{
    width: 100%;
}
.imgRufina{
    width: 80%;
}
.imgSelva{
    width: 80%;
    margin-top: 5%;
}

.imgAzul{
    width: 100%;
}
.imgAntonella{
    width: 80%;
    margin-top: 5%;
}
.imgVictoria{
    width: 80%;
    margin-top: 2%;
}
.imgDiana{
    width: 80%;
    margin-top: 10%;
}
.imgZoe{
    width: 80%;
    margin-top: 2%;
}
.imgThyara{
    width: 100%;
}

@media screen and (max-width:400px) { 

    .gridPadre, .gridPadreContacto, .gridArticulos{
        padding: 0;
        margin: 0;
    }
    .mainIndex, .mainContacto, .mainArt{
        padding: 0;
        margin: 0;
    }
    /* APLICO GRID A INDEX */
    .articulos{
        display: grid;
        grid-template-areas: 
        "header"
        "titulo"
        "imagenCollares"
        "imagenPulseras"
        "imagenAros"
        "contactos"
        "blog";
    }
    .item1{
        grid-area: imagenCollares;
    } 
    .item2{
        grid-area: imagenPulseras;
    }
    .item3{
        grid-area: imagenAros;
    }
    #titulo {
        font-size: 6rem;
    }
    .imagenCollares{
        width: 60%;
    }
    .title{
        text-align: center;
        font-size: 2rem;
    }
    /* APLICO GRID A COLLARES */
    .imgCollares{
        display: grid;
        text-align: center;
        grid-template-areas: 
        "rufina"
        "selva"
        "penelope";
    }
    .rufina{
        grid-area: rufina;
    }
    .selva{
        grid-area: selva;
    }
    .penelope{
        grid-area: penelope;
    }
    /* APLICO GRID A PULSERAS */
    .imgPulceras{
        display: grid;
        text-align: center;
        grid-template-areas: 
        "azul"
        "antonella"
        "victoria"
        ;
    }
    .azul{
        grid-area: azul;
    }
    .antonella{
        grid-area: antonella;
    }
    .victoria{
        grid-area: victoria;
    }
    /* APLICO GRID A AROS */
    .imgAros{
        display: grid;
        text-align: center;
        grid-template-areas: 
        "diana"
        "zoe"
        "thyara";
    }
    .diana{
        grid-area: diana;
    }
    .zoe{
        grid-area: zoe;
    }
    .thyara{
        grid-area: thyara;
    }
    .imagenContacto{
        display: none;
    }
    .imgPenelope{
        margin-top: 3%;
        width: 50%;
    }
    .imgAzul{
        width: 50%;
    }
    .azul, .thyara{
        margin-top: 5%;
    }
    .victoria{
        margin-top: 10%;
    }
    .imgZoe, .imgDiana, .imgThyara{
        width: 50%;
    }
    .form{
        width: 90%;
    }
    .textarea{
        width: 100%;
    }
}
