*{
    margin: $margen;
    padding: $padding;
}
body{
    background-color: whitesmoke;
}
.padreContacto{
    background-color: rgb(190, 228, 190) ;
}
/*BOTON WHATSAPP FIJO*/
.botonWhatsapp{
    position: fixed;
    right: 25px;
    bottom: 20px;
    z-index: 999;
    .whatsap{
        width: 60px;
    }
}