*{
    margin: $margen;
    padding: $padding;
}

body{
    padding: 0 50px;
    background-image:url(../imagenes/fondo2.jpg);
    background-attachment: fixed;
    .mainIndex{
        padding: 0 250px;
    }
}