@mixin formulario {
    width: 500px;
    background-color:lightgreen;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 7px;
}

form{
    @include formulario;
}

@mixin conParametros($color) {
    background-color: $color;

}

#boton{
    @include conParametros(grey);
}