.tituloIndex{ 
    color:#d7a9a9;
    background-position: 50%;
    font-family: 'Bangers', cursive;
    font-size: 8rem;
    text-align: center;
    margin-top: 50px;
}
.title{
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    margin-top: 50px;
}
#contacto{
    color: white;
    font-family: $amatic;
    text-align: left;
    font-size: 5rem;
    margin-top: 50px;
    padding: 50px 0;
}
